* {
    font-family: Helvetica, san-serif;
    background-color: #F5F5F7;
    color: #1D1D1F;
}

.flex-container {
    display: flex;
}

h1 {
    text-align: center;
}

li {
    color: #969697;
    padding: 4px;
}

.flex-container > .panel-center {
    flex: 4;
}

.flex-container > .panel-left {
    flex: 1;
}

.flex-container > .panel-right {
    flex: 1;
}