* {
    font-family: Verdana, san-serif;
    background-color: #DCF2F1;
    color: #0F1035;
}

.flex-container {
    display: flex;
}

h1 {
    text-align: center;
}

li {
    color: #365486;
    padding: 4px;
}

.flex-container > .panel-center {
    flex: 4;
}

.flex-container > .panel-left {
    flex: 1;
}

.flex-container > .panel-right {
    flex: 1;
}