* {
    font-family: Helvetica, san-serif;
    background-color: #F5F5F7;
    color: #1D1D1F;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar h1 {
    font-family: "Pacifico", cursive;
}

.logo {
    justify-content: center;
    flex: 1 0 auto;
}

.recipe-search {
    margin-left: auto;
    margin-right: auto;
    flex: 1 0 auto;
}

.recipes {
    flex: 0 1 0;
}

.about {
    flex: 0 1 0;
}

#search-recipe {
    height: 38px;
    padding: 0 40px;
    margin-bottom: 0;
    border-radius: 12px;
    border-color: #595959;
    /* width: 100%; */
    text-overflow: ellipsis;
}

.flex-container {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #408BD7;
}

a:hover {
    color: #0065CA;
}

li {
    color: #575757;
    padding: 4px;
}

.flex-container > .panel-center {
    flex: 4 0 auto;
}

.flex-container > .panel-left {
    flex: 1 1 auto;
}

.flex-container > .panel-right {
    flex: 1 1 auto;
}